.about-me-container {
    padding: 20px;
    border: 1px solid #272222;
    background-color: #ffffff;
    margin-bottom: 20px;
  }
  
 
  .emailicon{
    height: 40px;
    width: 40px;
  }
  
  
  
  .whatsapp-link {
    height: 40px;
    width: 40px;
    
  }
  