
.container{
  padding-bottom: 20px;
  border-bottom: 10px solid rgb(122, 106, 106);
  height: 20%;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;

}

.link-no-decoration {
  text-decoration: none;
  color:#2e2424
}

button {
  text-decoration: none;
  color: #cc1111;
  height: 50px;
  width: 300px;
  margin-left: 30px;
  margin-top: 30px;
  font-size: 18px;
  border-radius: 0.5em;
  background: #2a2b38;
  border: 1px solid #e8e8e8;
  transition: all .3s;
  box-shadow: 6px 6px 12px #c5c5c5,
             -6px -6px 12px #ffffff;
}
.a{
  background-color: #b8b5a5;
}
.a:hover{
  background-color: rgb(117, 103, 103);
}

.b{
  background-color: rgb(36, 160, 25);
}
.b:hover{
  background-color: rgb(33, 223, 74);
}

.c{
  background-color: rgb(158, 160, 25);
}
.c:hover{
  background-color: rgb(175, 223, 4);
}

.d{
  background-color: #aa1818;
}
.d:hover{
  background-color: rgb(238, 13, 13);
}

.e{
  background-color: rgb(202, 216, 200); 
}
.e:hover{
  background-color: rgb(240, 240, 240);
}

.f{
  background-color: rgb(58, 147, 189); 
}
.f:hover{
  background-color: rgb(1, 160, 252);
}

button:active {
  box-shadow: 4px 4px 12px #c5c5c5,
             -4px -4px 12px #ffffff;
}

.success-message-container {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px;
  text-align: center;
}

.success-message-container .success-message {
  margin-top: 20px;
  padding: 10px;
  background-color: #e6f3c2;
  color: #235a41;
  border: 1px solid #bcd9a0;
  border-radius: 4px;
}


.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
.form-index {
  background-color: #2a2b38;
}

form {
  
  width: 300px;
  padding: 20px;
  background: #b61010;
  border-radius: 20px;
}

.input-container {

  width: 95%;
  margin-left: 0%;
  position: relative;
  margin-bottom: 20px;
}

.input {
  background-color: #1f2029;
  color: #dce6df;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 20px; 
}

.btn {
  background-color:#3f3b1b;
  width: 25%;
  margin-top: 10px;
  margin-left: 0;
  font-size: 18px;
  padding: 7px 12px;
  height: auto;
  font-weight: 500;
  color: rgb(12, 1, 1);
  border: none;
}
.btn-register {
  background-color:#3f3b1b;
  width: 55%;
  margin-top: 10px;
  margin-left: 0;
  font-size: 18px;
  padding: 7px 12px;
  height: auto;
  font-weight: 500;
  color: rgb(12, 1, 1);
  border: none;
}
.btn:hover {
  background-color: #ffffff;
}
.btn-register:hover {
  background-color: #ffffff;
}

.logout-button{
  background-color: rgb(167, 20, 20);
  margin-left: 40%;
  margin-top: 20%;
  color: #a38080
}
.logout-button:hover {
  background-color: rgb(167, 20, 20);
}

.error-message-container{
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 20px;
  border-bottom: 10px solid rgb(122, 106, 106);
  border-bottom: 10px solid rgb(122, 106, 106);
  font-size: 20px;
  position: absolute;
  padding-top: 15%;
  margin-left: 65%;
}