
.container{
  padding-bottom: 20px;
  border-bottom: 10px solid rgb(122, 106, 106);
  height: 20%;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;

}

.link-no-decoration {
  text-decoration: none;
  color:#2e2424
}

button {
  background-color: #fcfcfc00;
  cursor: pointer;
  text-decoration: none;
  color: #cc1111;
  
  margin-left: 30px;
  margin-top: 30px;
  font-size: 18px;
  border-radius: 0.5em;
  border: 1px solid #e8e8e8;
  transition: all .3s;
  box-shadow: 6px 6px 12px #c5c5c5,
             -6px -6px 12px #ffffff;
}

.a{
  background-color: #b8b5a5;
}
.a:hover{
  background-color: rgb(117, 103, 103);
}

.b{
  background-color: rgb(36, 160, 25);
}
.b:hover{
  background-color: rgb(33, 223, 74);
}
.c {
  background-color: #443520;
  text-decoration: none;
  border: 5px;
  border-radius: 50%; /* Altera o valor para 50% para obter um círculo */
  width: 75px; /* Ajusta a largura do círculo conforme necessário */
  height: 5px; /* Ajusta a altura do círculo conforme necessário */
  display: inline-flex;
  align-items: center;
  justify-content:center;
  color: #fff; /* Define a cor do texto */
  font-size: 14px; /* Ajusta o tamanho da fonte do texto */
  padding: 15px; /* Adiciona espaço interno ao círculo */
}

.c:hover{
  background-color: rgb(46, 30, 12);
}

.d{
  background-color: #aa1818;
}
.d:hover{
  background-color: rgb(238, 13, 13);
}

.e{
  background-color: rgb(202, 216, 200); 
}
.e:hover{
  background-color: rgb(240, 240, 240);
}

.f{
  background-color: rgb(58, 147, 189); 
}
.f:hover{
  background-color: rgb(1, 160, 252);
}

.g {
 
  text-decoration: none;
  
  width: 80px; /* Ajusta a largura do círculo conforme necessário */
  height: 20px; /* Ajusta a altura do círculo conforme necessário */
  display: inline;
  align-items: center;
  justify-content:center;
  color: #1b1616; /* Define a cor do texto */
  font-size: 14px; /* Ajusta o tamanho da fonte do texto */
  padding: 15px; /* Adiciona espaço interno ao círculo */
  border-radius: 10px; /* Adiciona o valor de raio para arredondar as bordas */
}


.g:hover{
 color: rgb(46, 30, 12);
}

button:active {
  box-shadow: 4px 4px 12px #c5c5c5,
             -4px -4px 12px #ffffff;
}

.success-message-container {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px;
  text-align: center;
}

.success-message-container .success-message {
  margin-top: 20px;
  padding: 10px;
  background-color: #e6f3c2;
  color: #235a41;
  border: 1px solid #bcd9a0;
  border-radius: 4px;
}


.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
.form-index {
  background-color:none;
}

form {
  
  width: 300px;
  padding: 20px;
  background:none;
  border-radius: 20px;
}

.input-container {

  width: 95%;
  margin-left: 0%;
  position: relative;
  margin-bottom: 20px;
}

.input {
  background-color: rgb(248, 245, 240);
  color: #3a423d;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 20px; 
}

.btn {
  background-color:#3f3b1b;
  width: 25%;
  margin-top: 10px;
  margin-left: 0;
  font-size: 18px;
  padding: 7px 12px;
  height: auto;
  font-weight: 500;
  color: rgb(12, 1, 1);
  border: none;
}
.btn-register {
  cursor: pointer;
  background-color:#3f3b1b;
  width: 55%;
  margin-top: 10px;
  margin-left: 0;
  font-size: 18px;
  padding: 7px 12px;
  height: auto;
  font-weight: 500;
  color: rgb(12, 1, 1);
  border: none;
}
.btn:hover {
  background-color: #35270e;
}
.btn-register:hover {
  background-color: #35270e;
}

.logout-button{
  background-color: rgb(167, 20, 20);
  margin-left: 40%;
  margin-top: 20%;
  color: #a38080
}
.logout-button:hover {
  background-color: rgb(167, 20, 20);
}

.error-message-container {
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px 10px;
  border-bottom: 10px solid rgb(122, 106, 106);
  font-size: 20px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.register-link-container{
  display: inline;
  position: relative;
  margin-left: 45%;
  padding-top: 22%;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 10px solid rgb(122, 106, 106);
  
}

.vaiparaolado{
  padding-bottom: 10%;
  padding-left: 45%;
}

/* styles.css */

.custom-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-label {
  display: block;
  margin-bottom: 10px;
}

.custom-textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 5px solid #6d5c5c;
  border-radius: 4px;
}

.custom-button {
  padding: 10px 20px;
  background-color: rgb(64, 82, 61);
  color: #fff;
  border: 5px;
  border-radius: 20px;
  cursor: pointer;
}

.custom-button:hover {
  background-color: rgb(32, 43, 30);
}

.custom-button:focus {
  outline: none;
}

.register-link-container {
  margin-top: 20px;
  text-align: center;
}

.register-link-container a {
  margin: 0 5px;
}
/* styles.css */

/* Estilo para o container do formulário */
.form-container {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  height: 100vh; /* Utiliza a altura total da tela */
}

.center{
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px 10px;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

/* styles.css */

/* Estilo para o controle de aumento e diminuição (setas) no input type="number" */
input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
  appearance: textfield; /* Outros navegadores */
}

/* Desabilitar as setas de incremento e decremento no Google Chrome e navegadores baseados no WebKit */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.sucess-message-container{
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px 10px;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.newform{
  color: rgb(7, 2, 2);
  background-color:  rgb(202, 216, 200);
}
.e{
  background-color: rgb(202, 216, 200); 
}
.newform:hover{
  background-color: rgb(240, 240, 240);
}

.item{
  padding-left: 30%;
  margin: 5%;
}

/*.linhas{
  padding: 10px 20px;
  width: 20%;
  background-color: rgb(39, 43, 38);
  margin-bottom: 2%;
  color: #fff;
  border: 5px;
  border-radius: 20px;
  cursor: pointer;
}*/
/* Estilo para cada item da lista */
.linhas {
  /* Adicione flexbox para alinhar os elementos horizontalmente */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px ;
  background-color: rgb(59, 47, 43);
  margin-bottom: 2%;
  margin-right: 3%;
  color: #f8f8f8;
  border: 5px;
  border-radius: 20px;
  cursor: pointer;
}

/* Estilo para o botão dentro de cada item da lista */
.linhas button {
  background-color: rgb(243, 245, 243);
  color: #000000;
  border: none;

  cursor: pointer;
  /* Remova a largura e a margem esquerda para que o botão acompanhe o conteúdo */
  width: auto;
  margin-left: 0;
}

/* Estilo para o botão quando passar o mouse (hover) */
.linhas button:hover {
  background-color: rgb(65, 58, 58);
}

.relative{
  margin-left: 3%;
  
  
}

.buttons-container {
  display: flex; /* Para os botões ficarem em linha */
  gap: 10px; /* Espaçamento entre os botões */
  
}

/* styles.css */

.no-items-message {
  text-align: center;
  margin-top: 20%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;

}

/* styles.css */

.FINALIZAR {
  background-color: transparent;
  border: none;
  color: rgb(21, 109, 25);

  font-size: 16px;
  cursor: pointer;
  position: relative;
}

.FINALIZAR:hover {
  border-bottom: 2px solid black;
}

.err-message{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 2%;
  font-size: 20px;
  
}

.thank-you-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f7e9e9;
  text-align: center;
}

.thank-you-heading {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #333;
}

.thank-you-message {
  font-size: 1.5rem;
  color: #666;
}
